.primary-color { 
  background: #FAFAFA;
}

.secondary-color {
  background: #FFFFFF;
}

.button-contained {
  height: 46px;
  width: 159px;
  left: 682px;
  top: 551px;
  border-radius: 4px;
  padding: 0px 15px 0px 15px;
}

.show-more {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;

}

.zoe-logo {
  position: absolute;
  left: 2.2%;
  right: 91.39%;
  top: 2%;
  bottom: 91.83%;
}

.nav {
  position: absolute;
  width: 1366px;
  height: 80px;
  left: 0px;
  top: 0px;
}